# Ignore Terraform lock files
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
terraform.tfstate*

# Ignore crash log files
crash.log

# Ignore all .tfvars files, which might contain sensitive data, such as
# password, private keys, and other secrets.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Terraform plugin directories
.terraform/
